<div class="flex flex-grow flex-col gap-y-16">
 <h1 class="text-blue-500 font-medium text-7xl text-center font-outline-shadow"><%= t(".title") %></h1>
 <%= link_to t(".host_game"), "#", class: link_class %>
 <%= link_to t(".join_game"), "#", class: link_class %>
 <%= link_to t(".offline"), "#", class: link_class %>
 <%= link_to t(".tutorial_game"), "#", class: link_class %>
</div>
